body {
    font-family: 'Roboto', sans-serif;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

header {
    width: 100%;
}

.wrapper {
    display: block;
    margin: 0 auto;
    width: 60%;
    margin-top: 40px;
    min-width: 1100px;
}

.logo {
    background: url("../img/Tobacco.png") -108px -47px  no-repeat;
    background-size: 1280px;
    width: 285px;
    height: 60px;
}

.menu {
    font-weight: 300;
    font-size: 17.5px;
}

.menu-and-login-bar {
    background-color: #03b1b2;
    border-bottom: 3px solid #00894d;   
    height: 60px;
}

.menu-and-login-bar .menu {
    display: inline-block;
    list-style: none;
}

.menu-and-login-bar .menu > li {
    display: inline-block;
    margin-left: -4px;
    position: relative;
}

.menu-and-login-bar .menu > li > a {
    transition-property: background-color;
    transition-duration: 0.2s;
}

.menu-and-login-bar .menu > li:hover > a {
    background-color: #199798;
    transition-property: background-color;
    transition-duration: 0.2s;
}

.menu-and-login-bar .menu .home {
    display: block;
    background: url("../img/home-5-xxl.png") 20px 20px no-repeat;
    background-size: 20px 20px;
    width: 40px;
}

.menu-and-login-bar .profile,
.menu-and-login-bar .search {
    display: inline-block;
    float: right;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.menu-and-login-bar .profile:hover {
    background-color: #e84a4a;
    background-image: url("../img/profile-icon-active.png");
}

.menu-and-login-bar .search:hover {
    background-color: #e84a4a;
    background-image: url("../img/search-icon-active.png");
}

.menu-and-login-bar .profile {
    background: url("../img/profile-icon.png") 20px 20px no-repeat;
    background-size: 20px 20px;
    background-color: #018d8e; 
    transition-property: background-color;
    transition-duration: 0.2s;
}

.menu-and-login-bar .search {
    background: url("../img/search-icon.png") 21px 21px no-repeat;
    background-size: 19px 19px;
    background-color: #018d8e;
    transition-property: background-color;
    transition-duration: 0.2s;
}

.menu-and-login-bar input[type="text"] {
    float: right;
    width: 0;
    height: 0;
    opacity: 0;
    margin-right: 10px;
    font-size: 17.5px;
    color: white;
    background-color: #e84a4a;
    border: none;
    transition-property: width;
    transition-duration: 0.2s;
}

.menu-and-login-bar input[type="text"]:focus {
    width: 150px;
    height: 60px;
    opacity: 1;
    outline: 0;
    padding-left: 7px;
}

.menu-and-login-bar input[type="text"]:focus + label {
    background-color: #ff5353;
    background-image: url("../img/search-icon-active.png");
}

.menu-and-login-bar .menu .home .replace {
    opacity: 0;
}

.menu-and-login-bar .menu > li a {
    display: block;
    padding: 0 10px;
    text-decoration: none;
    color: white;
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
}

.menu-and-login-bar .menu > li .active {
    background-color: #e84a4a;
} 

.menu-and-login-bar .sub-menu {
    font-size: 14px;
    position: absolute;
    top: 60px;
    background-color: #1d1e20;
    display: none;
}
.menu-and-login-bar .menu > li:hover .sub-menu {
    z-index: 1;
    display: block;
    border-top: 3px solid #e84a4a;
}

.menu-and-login-bar .sub-menu li > a {
    box-sizing: border-box;
    border-bottom: 1px solid #171719;
    width: 175px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
}

.menu-and-login-bar .sub-menu li:hover > a {
    background-color: #282a2d;
}

.sidebar, main {
    -webkit-box-sizing: border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    
}

.sidebar {
    width: 25%;
    float: left;
    margin-left: 10px;
}

.sidebar .latest-publics {
    height: 510px;
    font-size: 13px;
}

.sidebar .latest-publics h2 {
    position: relative;
    display: block;
    height: 14px;
    background-color: #1d1e20;
    color: white;
    font-weight: 300;
    text-transform: uppercase;
    padding: 10px 15px;
    margin-bottom: 20px;
}

.sidebar .latest-publics h2::before {
    content: "";
    display: block;
    position: absolute;
    height: 0;
    width: 0;
    border: 10px solid #1d1e20;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom: none;
    top: 32px;
}

.sidebar .latest-publics .content {
    height: 100%;
    width: 100%;
}

.sidebar .latest-publics .content .news {
    box-sizing: border-box;
    height: 75px;
    padding: 5px;
    width: 100%;
    margin-top: 10px;
    background-color: rgba(106,112,116,0.05);
}

.sidebar .latest-publics .content .news:hover{
    background-color: rgba(106,112,116,0.1);
}

.sidebar .latest-publics .content .news img {
    box-sizing: border-box;
    float: left;
    height: 65px;
    width: 65px;
    margin-right: 20px;
    border: 1px solid rgba(106,112,116,0.4);
}

.sidebar .latest-publics .content .news h3 {
    float: left;
    word-wrap: break-word;
    overflow: hidden; 
    font-weight: 300;
    font-size: 18px;
    padding-top: 2px;
    width: 179px;
    height: 38px;
}

.sidebar .latest-publics .content .news a {
    color: #6a7074;
    text-shadow: 1px 1px 1px white;
    text-decoration: none;
}

.sidebar .latest-publics .content .news span {
    float: left;
    color: #6a7074;
    font-size: 12px;
    font-weight: 400;
    opacity: 0.5;
    padding-top: 10px;
    width: 179px;
    height: 5px;
    text-transform: lowercase;
}

main {
    width: 70%;
    float: right;
    margin-left: auto;
    margin-bottom: 100px;
}

.videos {
    width: 100%;
    height: 380px;
}

.videos .player {
    width: 70%;
    float: left;
    height: 375px;
    background-color: black;
}

.videos .same-videos {
    width: 30%;
    float: right;
    height: 380px;
}

.videos .same-videos .about-video {
    width: 100%;
    height: 125px;
    background-color: #1d1e20;
    color: white;
    border-bottom: 1px solid #141516;
    border-top: 1px solid #292b2d;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 24px 45px 35px 24px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.videos .same-videos .about-video:hover {
    background-color: #161719;
}

.videos .same-videos .about-video.active-about-video {
    background-color: #252527;
    position: relative;
}

.videos .same-videos .about-video.active-about-video:before {
    content: "";
    position: absolute;
    top: 20px;
    left: -9px;
    width: 0;
    height: 0;
    border: 10px solid #252527;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left: none;
}

.videos .same-videos .about-video .title-of-video {
    font-size: 16px;
    color: #e84a4a;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.videos .same-videos .about-video > p {
    margin-top: 10px;
    font-size: 13px;
    line-height: 24px;
    height: 40px;
    color: #6d6d6e;
    font-size: 13px;
    overflow: hidden;
}

.videos .same-videos:first-child {
    border-top: none;
}

.videos .same-videos:last-child {
    border-bottom: none;
}

.about-site {
    margin-top: 37px;
    background-color: rgba(106,112,116,0.05);
}
.about-site > h2 {
    position: relative;
    display: block;
    text-transform: uppercase;
    padding: 10px 15px;
    background-color: #f55a5a;
    color: #fee9e9;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
}

.about-site > h2:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border: 8px solid #f55a5a;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom: none;
    bottom: -7px;
    left: 15px;
}

.about-site > p {
    margin-top: 10px;
    font-family: 'Roboto Slab', serif;
    font-size: 15.5px;
    font-weight: 300;
    line-height: 22px;
    color: 444444;
    text-indent: 35px;
}






